body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 00, 0);
    color: #2c3e50;
    margin: 0;
    padding: 20px;
}

h1{
    text-align: center;
    font-size: 28px;
    color: #2980b9;
}

p{
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

.lorem{
    color: orange
}

p.lorem{
    text-align:justify;
}

#ultimoparagrafo{
    text-align: right;
}

.content{
    width: 50vw;
    height: 1000%;
}

#botao:hover{
    color:white;
    background-color: blue;
}

#imagem{
    transition: transform 0.3s ease, opacity 0.3s ease; /*Transição suave*/
    width: 600px;
}

#imagem:hover{
    transform: scale(1.1); /*aumenta a imagem a 10%*/
    opacity: 0.8; /*Reduz ligeiramente a opacidade*/
}